<div class="container">
  <div class="row m-5 pl-5">
    <h3>ブックマーク一覧</h3>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th></th>
            <th><%= "部品名" %></th>
            <th><%= "型式" %></th>
            <th><%= "個数" %></th>
            <th><%= "値段" %></th>
            <th><%= "メーカー" %></th>
            <th><%= "購入元" %></th>
            <th><%= "概要" %></th>
          </tr>
        </thead>
        <tbody>
          <% @bookmarks.each do |bookmark| %>
            <tr>
              <td>
                <%= link_to item_path(bookmark.item.id) do %>
                  <%= attachment_image_tag bookmark.item, :item_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "60x60" %>
                <% end %>
              </td>
              <td><%= bookmark.item.name %></td>
              <td><%= bookmark.item.model %></td>
              <td><%= bookmark.item.amount %>個</td>
              <td><%= converting_to_jpy(bookmark.item.price) %></td>
              <td><%= bookmark.item.maker %></td>
              <td><%= bookmark.item.retailer %></td>
              <td><%= bookmark.item.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @bookmarks %>
    </div>
  </div>

</div>