<div class="container">
  <div class="row m-5 pl-5">
    <h3>社員詳細</h3>
    <div class="mx-auto">
      <div class="row">
        <div class="col-xs-6　m-5 pt-5" >
          <%= attachment_image_tag @user, :image, :fill, 400, 400, format: 'jpeg', fallback: "no-image-icon.jpg" %>
        </div>
        <div class="col-xs-6　m-5 pt-5 ml-2">
           <h3>社員名:<%= @user.name %></h3>
           <h3>部署:<%= @user.department %></h3>
           <h3>社員番号:<%= @user.user_code %></h3>
           <% if @user == current_user %>
             <%= link_to '社員編集', edit_user_path(@user.id), class: "btn btn-sm btn-success edit_user_#{@user.id}" %>
             <%= link_to '社員消去', user_path(@user.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_user_#{@user.id}"%>
             <%= link_to 'ブックマーク一覧', users_bookmark_path, class: "btn btn-sm btn-success users_bookmark" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
