<div class="container">
  <div class="row row m-5 pl-5">
    <h3>新規登録</h3>
    <div class="mx-auto">
      <%= form_with model: @item,url: items_path,local:true do |f| %>
        <table>
          <tr>
            <td><%= f.label "商品画像" %></td>
            <td><%= f.attachment_field :item_image %></td>
          </tr>
          <tr>
            <td><%= f.label "部品名" %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label "型式" %></td>
            <td><%= f.text_field :model %></td>
          </tr>
          <tr>
            <td><%= f.label "個数" %></td>
            <td><%= f.text_field :amount %></td>
          </tr>
          <tr>
            <td><%= f.label "値段" %></td>
            <td><%= f.text_field :price %></td>
          </tr>
          <tr>
            <td><%= f.label "メーカー" %></td>
            <td><%= f.text_field :maker %></td>
          </tr>
          <tr>
            <td><%= f.label "購入元" %></td>
            <td><%= f.text_field :retailer %></td>
          </tr>
          <tr>
            <td><%= f.label "概要" %></td>
            <td><%= f.select :status, [["注文中", "注文中"], ["納品済み", "納品済み"]], class: '' , required: true %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit class: 'btn btn-success' %></td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
  </div>