<div class="container">
  <div class="row m-5 pl-5">
    <h3>部品詳細</h3>
    <div class="mx-auto">
      <div class="row">
        <table class="table">
        <thead class="bg-light">
          <tr>
            <th></th>
            <th><%= "部品名" %></th>
            <th><%= "型式" %></th>
            <th><%= "個数" %></th>
            <th><%= "値段" %></th>
            <th><%= "メーカー" %></th>
            <th><%= "購入元" %></th>
            <th><%= "概要" %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= attachment_image_tag @item, :item_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "60x60" %></td>
            <td><%= @item.name %></td>
            <td><%= @item.model %></td>
            <td><%= @item.amount %></td>
            <td><%= @item.price %></td>
            <td><%= @item.maker %></td>
            <td><%= @item.retailer %></td>
            <td><%= @item.status %></td>
            <td><%= link_to 'Edit', edit_item_path(@item.id), class: "btn btn-sm btn-success edit_item_#{@item.id}" %></td>
            <td><%= link_to 'Destroy', item_path(@item.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_item_#{@item.id}"%></td>
          </tr>
        </tbody>
      </table>
      <%= render 'items/comment', item: @item, comment: @comment %>
      </div>
    </div>
  </div>
</div>
