<div class="container">
  <div class="row m-5 pl-5">
    <h3>search for"<%= @content %>"</h3>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <% if @model == "user" %>
          <thead class="bg-light">
            <tr>
              <th></th>
              <th><%= "社員名" %></th>
              <th><%= "部署" %></th>
              <th><%= "社員番号" %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @datas.each do |datas| %>
              <tr>
                <th>
                  <%= link_to user_path(datas) do %>
                    <%= attachment_image_tag datas, :image, format: 'png', fallback: "no-image-icon.jpg", size: "60x60" %>
                  <% end %>
                </th>
                <td><%= datas.name %></td>
                <td><%= datas.group %></td>
                <td><%= datas.user_code %></td>
                <% if datas == current_user %>
                  <td><%= link_to 'Edit', edit_user_path(datas), class: "btn btn-sm btn-success edit_user_#{datas}" %></td>
                  <td><%= link_to 'Destroy', user_path(datas), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_user_#{datas}"%></td>
                <% else %>
                  <th></th>
                  <th></th>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        <% elsif @model == "item" %>
          <thead class="bg-light">
            <tr>
              <th></th>
              <th><%= "部品名" %></th>
              <th><%= "型式" %></th>
              <th><%= "個数" %></th>
              <th><%= "値段" %></th>
              <th><%= "メーカー" %></th>
              <th><%= "購入元" %></th>
              <th><%= "概要" %></th>
              <th><%= "ブックマーク" %></th>
            </tr>
          </thead>
          <tbody>
            <% @datas.each do |datas| %>
              <tr>
                <td>
                  <%= link_to item_path(datas) do %>
                    <%= attachment_image_tag datas, :item_image, format: 'jpeg', fallback: "no-image-icon.jpg", size: "60x60" %>
                  <% end %>
                </td>
                <td><%= datas.name %></td>
                <td><%= datas.model %></td>
                <td><%= datas.amount %></td>
                <td><%= datas.price %></td>
                <td><%= datas.maker %></td>
                <td><%= datas.retailer %></td>
                <td><%= datas.status %></td>
                <td><%= render 'bookmarks/bookmark', item: datas %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>